<div align="center">
<p>
    <pre>

     ______  _     _  ______   _______  ______   _______  _  _  _
     / _____)(_)   (_)(_____ \ (_______)(_____ \ (_______)(_)(_)(_)
    ( (____   _     _  ____ ) ) _____    _____) ) _______  _  _  _
     \____ \ | |   | ||  __  / |  ___)  |  __  / |  ___  || || || |
     _____) )| |___| || |  \ \ | |      | |  \ \ | |   | || || || |
    (______/ \_____/ |_|  |_| |_|      |_|   |_||_|   |_| \_____/
    Surfraw - Shell Users' Revolutionary Front Rage Against the Web

</pre>

<p>
<a href="news.html">News</a> |
<a href="https://gitlab.com/surfraw/Surfraw/wikis/current-elvi">List of Elvi</a> |
<a href="https://gitlab.com/surfraw/Surfraw/wikis/Installation">Installation</a> |
<a href="https://gitlab.com/surfraw/Surfraw/wikis/Usage">Usage</a> |
<a href="https://gitlab.com/surfraw/Surfraw/wikis/Configuration">Configuration</a> |
<a href="https://gitlab.com/surfraw/Surfraw/wikis/Development-and-Support">Development and Support</a> |
<a href="https://gitlab.com/surfraw/Surfraw/wikis/Hacking">Hacking</a> and <a href="https://gitlab.com/surfraw/Surfraw/wikis/Hacking/Style">Style guide</a>
</div>


<div align="center">
<p>
Oh Baybee<br>
I need some<br>
Deep Linking<br>
Let us go<br>
Surfin' in the raw!<br>
</div>

<hr>
<h2><a name="about">About Surfraw</a></h2>

<p>
Surfraw provides a fast unix command line interface to a variety of
popular WWW search engines and other artifacts of power. It reclaims
google, altavista, babelfish, dejanews, freshmeat, research index,
slashdot and
<a href="https://gitlab.com/surfraw/Surfraw/wikis/current-elvi">many others</a>
from the false-prophet, pox-infested heathen
lands of html-forms, placing these wonders where they belong, deep in
unix heartland, as god loving extensions to the shell.
</p>

<p>
Surfraw abstracts the browser away from input. Doing so lets it get on with what 
it's good at. Browsing. Interpretation of linguistic forms is handed back to the
shell, which is what it, and human beings are good at. Combined with $browser or
, better, text browsers, such as lynx, links or w3m, along with screen a Surfraw
liberateur is capable of navigating speeds that leave GUI tainted idolaters 
agape with fear and wonder.</p>
<p>
For example:    
<pre>
$ surfraw google -results=100 RMS, GNU, which is sinner, which is sin?
$ sr wikipedia surfraw
$ sr austlii -method=phrase dog like
$ /usr/lib/surfraw/stack -u -s=vote shell</pre>
</p>

         
